:root {
  --main-text-color: #303030;
  --secondary-text-color: #555555;
  --main-light-color: #ffffff;
  --secondary-light-color: #9da4bd;
  --accent-ccolor: #ff6c00;
  --box-background-color: #f7f7f7;
  --prices-bcg-color: #111319;
  --contacts-bcg-color: #191c26;
}
body {
  font-family: OpenSans, sans-serif;
  font-style: normal;
  color: var(--main-text-color);
  background-color: var(--main-light-color);
  position: relative;
  border: 1px solid var(--accent-ccolor);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}
img {
  display: block;
}
.link {
  font-style: inherit;
  color: inherit;
  text-decoration: none;
}
.ul-style {
  list-style: none;
  padding-left: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
}
.section {
  padding: 130px 15px;
}
/* HEADER SECTION */
.header {
  position: absolute;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
}
.header-container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
  display: flex;
  padding-bottom: 0;
  align-items: center;
}
.nav-section {
  display: flex;
  align-items: center;
}
.section-menu {
  display: flex;
  align-items: center;
}
.link-container {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.logo {
  margin-right: 70px;
}

.nav-menu {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--main-light-color);
}
.nav-menu:not(:last-child) {
  margin-right: 40px;
}
.nav-menu:hover,
.nav-menu:focus {
  color: var(--accent-ccolor);
}
.link-menu:not(:last-child) {
  margin-right: 42px;
}

.tel-header {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  /* color: var(--main-light-color); */
}
.tel-header:hover,
.tel-header:focus {
  color: var(--accent-ccolor);
}
/*-------*
*-------*/
.hero-container {
  display: flex;
}
/* .social-hero {
    display: flex;
    
} */
.hero-section {
  width: 1073px;
  background-image: url(https://uliasuprun.github.io/goit-barbershop-01/images/main-slider.jpeg);
  background-size: cover;
  padding-bottom: 206px;
  padding-top: 272px;
  padding-left: 96px;
  margin-left: auto;
}
.social-hero {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
}
.social {
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.2em;
  color: #ff6c00;
  transform: rotate(-90deg);
}
.social {
  margin-top: 40px;
}

/*-------*
*-------*/

.hero-title {
  font-weight: bold;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: #ffffff;
  margin-bottom: 20px;
}
.subtitle {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.section-title {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}
.description-middle {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
.description-light {
  width: 500px;
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.05em;
  color: var(--secondary-text-color);
}

.section-prices {
  text-align: center;
  background-image: url(https://uliasuprun.github.io/goit-barbershop-01/images/prices-bcg.png);
  background-color: var(--prices-bcg-color);
  background-size: cover;
}
.secondary-subtitle {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
}
.secondary-title {
  font-weight: bold;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: var(--main-light-color);
}
.secondary-description {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--secondary-light-color);
}
.dark-btn {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--main-light-color);
  border: 1px solid var(--accent-ccolor);
  min-width: 160px;
  padding: 11px 18px;
  box-sizing: border-box;
  border-radius: 25px;
  background-color: transparent;
}
.dark-btn:hover,
.dark-btn:focus {
  background-color: var(--accent-ccolor);
}

/* ABOUT US SECTION*/
.indent {
  display: block;
}
.about-img {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
}
.about-img .item:not(:last-child) {
  margin-right: 30px;
}
.about-container {
  display: flex;
}
.about-text {
  margin-left: 64px;
}
.light-btn {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border: 1px solid var(--accent-ccolor);
  min-width: 160px;
  padding: 11px 18px;
  box-sizing: border-box;
  border-radius: 25px;
  background-color: transparent;
}
.light-btn:hover,
.light-btn:focus {
  color: var(--main-light-color);
  background-color: var(--accent-ccolor);
}

/*SERVICES AND PRICES SECTION*/

.prices-container {
  display: flex;
}
.secondary-subtitle-prc {
  text-align: start;
}
.secondary-title-prc {
  margin-bottom: 44px;
  text-align: start;
}
.price-list-first .ul-style {
  width: 585px;
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}
.price-list-second .ul-style {
  width: 585px;
  background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}
.ul-style .item-prc {
  display: flex;
  justify-content: space-between;
}
.item-prc {
  padding-left: 40px;
  padding-right: 40px;
}
.item-prc:first-child {
  padding-top: 30px;
}
.item-prc:nth-child(-n + 3) {
  margin-bottom: 20px;
}
.item-prc:last-child {
  padding-bottom: 30px;
}
.btn-prc {
  margin-top: 50px;
}

/*FEATURES SECTION*/

.features .container {
  display: flex;
}
.features-list .ul-style {
  display: flex;
  flex-wrap: wrap;
  margin-left: 100px;
  text-align: center;
  align-items: flex-start;
}
.features-box {
  width: 170px;
  padding: 20px;
  background: var(--box-background-color);
}
.features-box:nth-child(odd) {
  margin-right: 30px;
}
.features-box:nth-child(2) {
  margin-bottom: 30px;
}
.features-box:nth-child(2) {
  margin-top: 35px;
}
.features-box:nth-child(3) {
  margin-top: -35px;
}

.features-qty {
  font-weight: bold;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
}
.features-item {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
}
.features-text {
  margin-left: 130px;
  margin-right: 70px;
}
/*MASTERS SECTION*/
.section-masters {
  background-color: var(--box-background-color);
}
.masters-title {
  margin-bottom: 44px;
}
.master-list {
  display: flex;
  flex-wrap: wrap;
}
.master-item {
  flex-basis: calc((100% - 90px) / 3);
}
.master-item:not(:nth-child(3n)) {
  margin-right: 30px;
}
.master-img {
  margin-bottom: 30px;
}
.master-title {
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;
}
.master-description {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-ccolor);
}
.master-social {
  display: flex;
  justify-content: center;
}
.round {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--main-light-color);
}
.round:not(:last-child) {
  margin-right: 10px;
}

/*PORTFOLIO SECTION*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.portfolio-sbt {
  margin-bottom: 44px;
}
.portfolio-items {
  display: flex;
  flex-wrap: wrap;
  flex-basis: calc((100% - 120px) / 4);
}
.portfolio-img:not(:nth-child(4n)) {
  margin-right: 30px;
}
/*CONTACTS SECTION*/
.section-contacts {
  background-color: var(--contacts-bcg-color);
}
.contacts-container {
  padding: 0 15px;
  display: flex;
}
.section-contacts-one {
  width: 625px;
  padding-top: 130px;
  padding-left: 55px;
  padding-bottom: 130px;
}
.section-contacts-two {
  background-image: url(https://uliasuprun.github.io/goit-barbershop-01/images/contacts-bg.png);
  background-size: cover;
  width: 625px;
  padding-top: 130px;
  padding-left: 100px;
  padding-bottom: 130px;
}

.contacts-text {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--secondary-light-color);
}
.contacts-subtext {
  margin-top: 70px;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--main-light-color);
}
.section-contacts-two .secondary-title {
  margin-bottom: 40px;
}
.ul-style .contacts-text:not(:last-child) {
  margin-bottom: 20px;
}
.address-style {
  font-style: normal;
}

/*FOOTER SECTION*/

.container-footer {
  padding-top: 57px;
  padding-bottom: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social-footer {
  display: flex;
}
.copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--secondary-light-color);
}
.social-footer .item {
  margin-left: 40px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
}
.social-footer .item:hover,
.social-footer .item:focus {
  color: var(--accent-ccolor);
}
